language: php
dist: trusty
php:
  - 7.0
  - 5.6
  - 5.5
  - 5.4
before_script:
  - echo 'date.timezone = "Europe/London"' >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - composer install
script: php vendor/bin/phing